<h2><%= @user.name.capitalize %></h2>

<%= render "upcoming_events" %>
<%= render "previous_events" %>

<% unless @user.events %>
    <h3>You dont have any events</h3>
<% end %>

<% if @user.upcoming_attended_events %>
    <h3>Events I'm attening</h3>
    <ol>
        <%= render @user.upcoming_attended_events %> <!-- This renders the events with views/events/_event -->
    </ol>
<% end %>


<% if @user.previously_attended_events %>
    <h3>Events I've previously attended</h3>
    <ol>
        <%= render @user.previously_attended_events %> <!-- This renders the events with views/events/_event -->
    </ol>
<% end %>
