<%= form_for @user, url: yield(:path) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br />

    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <%= f.submit yield(:button_text) %>
<% end %>

<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
     <P><%= message %></p>
    <% end %>
<% end %>