<h1>Hi <%= current_user.name.capitalize %>, create an event!</h1>
<%= form_for @event do |f| %>
    <%= f.label :event_name %>:
    <%= f.text_field :event_name %><br />

    <%= f.label :date %>
    <%= f.date_field :date %><br />

    <%= f.submit %>
<% end %>