<h1>Hi <%= current_user.name.capitalize %>, create an event!</h1>
<%= form_for @event do |f| %>
    <%= f.label :event_name %>:
    <%= f.text_field :event_name %><br />

    <%= f.label :event_date %>
    <%= f.date_field :event_date, min: Time.now.strftime("%Y-%m-%e") %><br />

    <%= f.label :event_time %>
    <%= f.time_field :event_time %><br />

    <%= f.submit %>
<% end %>

<% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |message| %>
     <P><%= message %></p>
    <% end %>
<% end %>