<h1>Hi <%= current_user.name.capitalize %>, create an event!</h1>


<%= form_for @event do |f| %>
    
    <%= render "shared/error_messages", object: f.object %>

    <%= f.label "#{:event_name}:" %>
    <%= f.text_field :event_name %><br />

    <%= f.label :date_and_time %>
    <%= f.datetime_select :date_and_time, ampm: true, start_year: DateTime.now.year, end_year: (DateTime.now+10.years).year  %>

    <%= f.submit %>
<% end %>