<h1><%= @event.creator.name.pluralize.capitalize.insert(-2, "'") %> event.</h1>
<h3><%= render @event %></h3>

<% if @event.attendees.any? %>
    <h2>Accepted invites</h2>
    <ol>
        <%= render @event.attendees %>
    </ol>
<% end %>

<% if @event.invited.any? %>
    <h2>Pending invites</h2>
    <ul>
        <% @event.invited.each do |invite| %>
            <li><h5><%= invite.invite_receiver.name.capitalize %></h5></li>
        <% end %>   
    </ul>
<% end %>   

<% if current_user.event_owner?(@event) && !@event.old? %>
    <% if  uninvited_users(@event).empty? %>
        <p>There are no users to invite.</p>
    <% else %>
        <h3>Invite friends</h3>
        <% session[:event_id] = @event.id %>
        <%= form_for :invitation, url: invitations_path do |f| %>
            <%= f.collection_select :invite_receiver, uninvited_users(@event), :id, :name %> 
            <%= f.submit "Send invite" %>
        <% end %>
    <% end %>
<% end %>